@media only screen and (min-width: 1360px) {
  .home-view {
    width: 35%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1360px) {
  .home-view {
    width: 50%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
  .home-view {
    width: 65%;
  }
}

@media only screen and (max-width: 500px) {
  .home-view {
    width: 100%;
  }
}

.home-view {
  position: relative;
}

.add-jar-btn {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #c8d3ff;
  cursor: pointer;
  margin-right: 1em;
  box-shadow: 0 0 20px 0px #5858580d;
  position: absolute;
  top: 0;
  right: 0;

  &.close {
    transform: rotate(45deg);
    background: none;
    box-shadow: none;

    &:hover {
      background: none;
    }
  }

  &:hover {
    background: darken(#c8d3ff, 10%);

    &:after {
      color: darken(#6981ec, 10%);
    }
  }

  &:after {
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 2em;
    color: #6981EC;
  }
}

.create-form {
  background: #FFF;
  border-radius: 4px;
  padding: 2em;
  margin: 0 1em;
  color: lightgray;
  position: relative;
  box-shadow: 0 0 20px 0px #5858580d;
  display: flex;

  @media only screen and (max-width: 992px) {
    flex-direction: column;

    .submit-btn {
      width: 100%;
    }
  }

  .submit-btn {
    background: linear-gradient(45deg, #B388EB, #8093F1);
    &:hover {
      background: linear-gradient(45deg, rgb(232, 136, 235), rgb(152, 128, 241));
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
      background: linear-gradient(45deg, #B388EB, #8093F1);
    }
  }
}
.create-form-wrapper {
  flex: 2;
  padding-right: 2em;
  padding-bottom: 1em;

  input {
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    border-radius: 0;
  }

  .name-input {
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 1em;
  }

  .amount-wrapper {
    display: flex;

    .symbol {
      font-size: 1em;
      padding-bottom: 0.4em;
    }
  
    .current-amount {
      font-size: 2em;
      text-align: end;
      width: 35%;
    }
  
    .slash {
      font-size: 2em;
      padding: 0 .3em;
    }
  
    .goal-amount {
      font-size: 2em;
      width: 40%;
    }
  }
}
