@media only screen and (min-width: 1360px) {
  .home-view {
    width: 35%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1360px) {
  .home-view {
    width: 50%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
  .home-view {
    width: 65%;
  }
}

@media only screen and (max-width: 500px) {
  .home-view {
    width: 100%;
  }
}