// $light-body-bg: #F6F7F9;
$light-body-bg: #F3F4F6;

$text-primary: #002B5D;
$text-gray: #5F789B;
$text-light-gray: #597191;
$text-white: $light-body-bg;

$color-primary-blue: #56B7FF;
$color-secondary-blue: #71A5FC;

$color-primary-pink: #FF7EAA;
$color-secondary-pink: #FA7BB8;

$number-font: 'Arimo', sans-serif;

$color-good: #37D779;
$color-bad: #F85B80;